@using vCardLib.Enums
@using vCardLib.Models
@using vCardLib.Serialization
<div>
    My Contact Info:

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="firstname">First Name:</label>
				<input name="firstname" type="text" class="form-control" @bind="givenName" />
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="lastname">Last Name:</label>
				<input name="lastname" type="text" class="form-control" @bind="familyName" />
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">

			<div class="form-group">
				<label for="displayname">Display Name:</label>
				<input name="displayname" type="text" class="form-control" />
			</div>

		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="nickname">Nickname:</label>
				<input name="nickname" type="text" class="form-control" @bind="MyCard.NickName" />
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="title">Title:</label>
				<input name="title" type="text" class="form-control" @bind="MyCard.Title" />
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="organization">Organization:</label>
				<input name="organization" type="text" class="form-control" @bind="organization" />
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="email">Email:</label>
				<input name="email" type="email" class="form-control" @bind="Email" />
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="phone">Phone:</label>
				<input name="phone" type="tel" class="form-control" @bind="Phone" />
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="url">Web Address:</label>
				<input name="url" type="url" class="form-control" @bind="Url" />
			</div>
		</div>
	</div>

	@* Add a row with a single text area for the Note field in the MyCard object *@
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="note">Note:</label>
				<textarea name="note" class="form-control" @bind="MyCard.Note"></textarea>
			</div>
		</div>
	</div>

</div>

@code {

	[CascadingParameter(Name = "SessionCache")]
	public required SessionCache SessionCache { get; set; }

	private vCard MyCard => SessionCache.MyCard;

	string organization
	{
		get { return MyCard.Organization?.Name ?? string.Empty; }
		set { MyCard.Organization = new Organization(value, null, null); }
	}

	string Url
	{
		get { return MyCard.Url?.Value ?? string.Empty; }
		set
		{
			var valueToSet = value;
			if (!valueToSet.StartsWith("http")) valueToSet = $"https://{valueToSet}";
			Console.WriteLine($"Setting MyCard.Url to: {value}");
			MyCard.Url = new Url($"https://{value}");
		}
	}


	// 		MyCard.Name = new Name(familyName, givenName, null, null, null);

	string givenName { get; set
		{
			field = value;
			MyCard.Name = new Name(familyName, givenName, null, null, null);
		} } = string.Empty;
	string familyName { 
		get;
		set { 
			field = value;
			MyCard.Name = new Name(familyName, givenName, null, null, null);
		}
	} = string.Empty;

	string Email
	{
		get { return MyCard.EmailAddresses.FirstOrDefault().Value ?? string.Empty; }
		set { MyCard.EmailAddresses = new List<EmailAddress> { new EmailAddress(value) { Type = EmailAddressType.Work } }; }
	}

	string Phone
	{
		get { return MyCard.PhoneNumbers.FirstOrDefault().Value ?? string.Empty; }
		set
		{
			MyCard.PhoneNumbers = new List<TelephoneNumber> { new TelephoneNumber(value) { Type = TelephoneNumberType.Work } };
		}
	}

}