@using System.Drawing
@using Telerik.Blazor.Components
@inject IConfiguration Configuration

@if (!string.IsNullOrEmpty(ErrorMessage))
{
	<div class="alert alert-warning my-3">
		@ErrorMessage
	</div>
}
else
{
	<TelerikQRCode Value="@VCard"
								Size="300"
								Background="@Backcolor"
								Color="@Forecolor" />
}

@code {

	public string QrDataSource { get; set; }

	public string ErrorMessage { get; set; } = string.Empty;

	[Parameter, EditorRequired]
	public string Forecolor { get; set; } = string.Empty;

	[Parameter, EditorRequired]
	public string Backcolor { get; set; } = string.Empty;

	[Parameter]
	public byte[] Logo { get; set; } = [];

	[Parameter]
	public string VCard { get; set; }

	protected override Task OnParametersSetAsync()
	{

		Console.WriteLine($"My VCard: {VCard}");

		return base.OnParametersSetAsync();

	}

}
